<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-list>
      <ion-item [routerLink]="['/inicio']">
        <h2>Inicio</h2>
      </ion-item>


        <ion-list>
          <ion-item [routerLink]="['/lista-materias']">
            <h2>Materias</h2>
          </ion-item>
        </ion-list>


      <ion-item [routerLink]="['/materia']">
        Crear Materia
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button (click)="ActualizarPage()">Actualizar pagina</ion-button>
      <ion-title>INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <ion-button expand="block" fill="solid" color="primary" [routerLink]="['/lista-materias']" class="botonAgregar">
      Lista de materias
    </ion-button>
  </ion-content>
</div>
