<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-list>
      <ion-item [routerLink]="['/inicio']">
        <h2>Inicio</h2>
      </ion-item>
      <ion-item [routerLink]="['/lista-materias']">
        <h2>Materias</h2>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
        <ion-button (click)="ActualizarPage()">Actualizar pagina</ion-button>
      </ion-buttons>
      <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    
<ion-content  class="contenedor">
  
  <form (ngSubmit)="GuardarMateria()"><!--Formulario para introducir materia-->

    <ion-item>
      <ion-label position="floating">ID</ion-label>
      <ion-input [(ngModel)]="materia.id" name="ID" required=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="materia.nombre" name="nombre" required=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Semestre</ion-label>
      <ion-input [(ngModel)]="materia.semestre" name="semestre" type="number" required=></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input [(ngModel)]="materia.codigo" name="codigo" type="number" required=></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Horario</ion-label>
      <ion-input [(ngModel)]="materia.horario" name="horario" type="number" required=></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-input [(ngModel)]="materia.observaciones" name="Observaciones" required=></ion-input>
    </ion-item>

    <ion-button expand="block" fill="solid" type="submit" color="medium">Guardar Materia</ion-button>
  </form>
  <ion-button expand="block" fill="solid" color="medium" [routerLink]="['/lista-materias']">Volver al Inicio</ion-button>
</ion-content>
